<div class="sidebar sidebar_1">  

   <div id="categories-2" class="widget-container widget_categories">
     <h3 class="widget-title">Categories</h3>  
     <ul>
       <li class="cat-item current-menu-item"><a href="#">Photography</a>
         <ul>
           <li><a href="#"><span>Nature</span></a></li>
           <li><a href="#"><span>People</span></a></li>
           <li><a href="#"><span>Art &amp; Fashion</span></a></li>
           <li><a href="#"><span>Commercial</span></a></li>
         </ul>
       </li>
       <li class="cat-item"><a href="#">Video &amp; Motion</a></li>
       <li class="cat-item"><a href="#">My Thoughts</a></li>
       <li class="cat-item"><a href="#">About my work</a></li>
     </ul>
   </div>  

   <div id="archives-3" class="widget-container widget_archive">
     <h3 class="widget-title">Archives</h3>		
     <ul>
       <li><a href='#' title='June 2011'>June 2011</a></li>
       <li><a href='#' title='June 2011'>June 2011</a></li>
       <li><a href='#' title='May 2011'>May 2011</a></li>
       <li><a href='#' title='April 2011'>April 2011</a></li>
       <li><a href='#' title='March  2011'>March 2011</a></li>
     </ul>
   </div>           


 </div>