<div class="post-item">
  
  <div class="post_header_wrapper clearfix" style="padding-bottom: 5px; margin-bottom:5px; border-bottom: 1px dashed rgb(250,250,250);">
    <div class="date-box">
      <span class="post-date"><strong>23</strong> Nov.2011</span>
    </div>

    <div class="post-title fixed">
      <h2>
        <a href="#">Best FIGHT I’ve Ever FOUGHT!</a>
      </h2>
      <div class="post-meta-top">posted by <a href="#" class="author"> Niles Patel</a> / <a href="blog-details.html">12 comments</a></div>
    </div>          
  </div>                  
  
  
  <!-- http://s3.amazonaws.com/circle-static-assets/entry_img_1.jpg -->
  
  

  <div class="entry">
    <img src="http://s3.amazonaws.com/circle-static-assets/entry_img_1.jpg" 
        alt="" 
        class="frame_center" />
    <div class="post-meta-bot">
      <span class="link-comments">12</span>
      <span class="link-loveit">38</span><br>
      <a href="blog-details.html" class="link-more">READ MORE</a>
    </div>

    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condim entum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orcire ac euisestibulum mollis mauris enim. Morbi euiod magna ac lorem rutrum elementum. Donec viverra lore mispu fritesk auctor lobortis... </p> 
    <div class="clear"></div>     
  </div>       
</div>